<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" height="200px">
                        <img src="https://www.slu.edu/news/img/marquis-govan-960.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Alex</h5>
                          <p class="card-text">RollNo:1</p>
                          <p class="card-text">AdmissionNo:1678</p>
                          
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" height="200px">
                        <img src="https://www.slu.edu/news/img/marquis-govan-960.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Alex</h5>
                          <p class="card-text">RollNo:2</p>
                          <p class="card-text">AdmissionNo:1098</p>
                          
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" height="200px">
                        <img src="https://www.slu.edu/news/img/marquis-govan-960.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Alex</h5>
                          <p class="card-text">RollNo:3</p>
                          <p class="card-text">AdmissionNo:1289</p>
                          
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" height="200px">
                        <img src="https://www.slu.edu/news/img/marquis-govan-960.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Alex</h5>
                          <p class="card-text">RollNo:4</p>
                          <p class="card-text">AdmissionNo:10987</p>
                          
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" height="200px">
                        <img src="https://www.slu.edu/news/img/marquis-govan-960.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Alex</h5>
                          <p class="card-text">RollNo:5</p>
                          <p class="card-text">AdmissionNo:14350</p>
                          
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" height="200px">
                        <img src="https://www.slu.edu/news/img/marquis-govan-960.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Alex</h5>
                          <p class="card-text">RollNo:6</p>
                          <p class="card-text">AdmissionNo:10874</p>
                          
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" height="200px">
                        <img src="https://www.slu.edu/news/img/marquis-govan-960.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Alex</h5>
                          <p class="card-text">RollNo:7</p>
                          <p class="card-text">AdmissionNo:10884</p>
                          
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" height="200px">
                        <img src="https://www.slu.edu/news/img/marquis-govan-960.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Alex</h5>
                          <p class="card-text">RollNo:8</p>
                          <p class="card-text">AdmissionNo:10877</p>
                          
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" height="200px">
                        <img src="https://www.slu.edu/news/img/marquis-govan-960.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Alex</h5>
                          <p class="card-text">RollNo:9</p>
                          <p class="card-text">AdmissionNo:10895</p>
                          
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" height="200px">
                        <img src="https://www.slu.edu/news/img/marquis-govan-960.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Alex</h5>
                          <p class="card-text">RollNo:10</p>
                          <p class="card-text">AdmissionNo:10945</p>
                          
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
